audioread
cycler
Cython
deap
decorator
eyeD3
functools32
hmmlearn
joblib
librosa
matplotlib
networkx
numpy
pandas
pathlib
pyAudioAnalysis
pydotplus
pygraphviz
pyparsing
python-dateutil
pytz
resampy
scikit-learn
scipy
simplejson
six
sklearn
subprocess32
